doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        script(src='/javascripts/external/firebase.js')
        script(src='/javascripts/bundle.js')

    body
        div(class="navbar navbar-default navbar-fixed-top")
            div(class="navbar-header")
                a(class="navbar-brand" href="#") Countdera
        block content