doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdn.firebase.com/js/client/1.1.0/firebase.js')
    script(src='/javascripts/bundle.js')
  body
    block content