extends layout


block content
    body
    div(class="page-header")
    h1 Welcome to the Countdera
    span

    span Countdera is a Javascript MapReduce platform that runs in the browser in place of ads. Adding Countdera to a webpage is as easy as adding an iframe. Welcome to the future of cloud computing.
    br
    span Our platform is the first MapReduce platform to be this easy to use. It's drag-and-drop, distributed, and fault-tolerant (for crash failures). Websites will no longer have to choose between serving ads, or creating a paid service, increasing their own user adoption.
    div(class="form-group" style="margin-bottom:300px;")
        p(class="bs-component")
            a( href="/client" id="client" class="btn btn-primary btn-lg") Create a job
            &nbsp
            a( href="/worker" id="worker" class="btn btn-primary btn-lg") Run some jobs


