extends layout


block content
    body
        div(class="page-header" align="justify").
            With Countdera you help scientists solve problems and you win by not having to see ads.
        div(id="first" align="center")
            a( href="#" id="a" class="btn btn-primary btn-lg") Let's DO IT!
        div(id="second" style="display:none;")
            div(class="well" ) You are waiting to be scheduled
        div(id="worker_status")
        div(style="margin-bottom:350px")

