extends layout


block content
    body
        div(class="page-header" align="justify").
            With Countdera you help scientists solve problems and you win by not having to see ads
        div(align="center")
            a( href="#"  class="btn btn-primary btn-lg") Let's DO IT!

