extends layout

block content
    body
        div(id="map_div")
            textarea(id="map_code_area" class="lined" rows="60" cols="60")
            button "Save"
        div(id="reduce_div" style="display:none;")
            textarea(id="reduce_code_area" class="lined" rows="60" cols="60")
            button "Save"
        div(id="url_div" style="display:none;")
            textarea(id="urls_area" rows="20" cols="60")
            button "Run!"